@import url(normalize.css);
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }

body {
  font-family: 'Roboto';
  background-color: #eeeeee; }

.no-mg {
  margin: 0 !important; }

.no-padd {
  padding: 0 !important; }

.block {
  width: 100%; }

.container {
  position: relative;
  padding: 16px; }
  .container.mgt {
    padding-top: 60px; }
  .container .toolbar {
    top: 16px; }

.toolbar {
  padding: 10px 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: relative;
  margin-bottom: 28px;
  z-index: 3; }
  .toolbar.min {
    padding: 6px 8px; }
    .toolbar.min .btn {
      padding: 0.5em 5px;
      font-size: 10px;
      min-width: 56px;
      border-radius: 1px; }
  .toolbar > span.dest {
    font-size: 18px; }
  .toolbar.fix-top {
    position: fixed;
    left: 0;
    right: 0; }
  .toolbar.fix-bottom {
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3); }
  .toolbar[noshadow] {
    box-shadow: none; }
  .toolbar .list {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0; }
    .toolbar .list .list-item {
      display: inline-block; }

.btn {
  position: relative;
  overflow: hidden;
  padding: 10px 8px;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #464646;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  min-width: 88px;
  margin: 0 4px;
  outline: none;
  font-weight: 500;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: box-shadow, background-color; }
  .btn:not([raised]):not([disabled]):hover, .btn:not([raised]):not([disabled]):focus {
    background-color: rgba(153, 153, 153, 0.2); }
  .btn:not([raised]):not([disabled]):active {
    background-color: rgba(153, 153, 153, 0.4); }
  .btn[raised] {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    background-color: white; }
    .btn[raised]:not([disabled]):active {
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.33); }
  .btn[disabled] {
    color: rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.12); }
  .btn.btn-blue {
    background-color: cornflowerblue;
    color: white; }
  .btn.min {
    top: -2px;
    padding: 6px;
    min-width: 63px; }

/* RIPPLE EFFECT */
.ripple.active .waves:first-child {
  transform: scale(2.5);
  display: block; }
.ripple .waves {
  content: '';
  position: absolute;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  transform: scale(0);
  z-index: 1; }
  .ripple .waves.animate {
    animation: ripple 0.45s linear; }

@keyframes ripple {
  100% {
    transform: scale(2.5);
    opacity: 0.05; } }

@-webkit-keyframes ripple {
  100% {
    transform: scale(2.5);
    opacity: 0.05; } }

.card {
  background-color: white;
  margin: 10px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  .card[noshadow] {
    box-shadow: none; }
  .card.no-padd .card-body {
    padding: 0; }
  .card .card-header {
    padding: 16px 16px 0 16px; }
    .card .card-header h4 {
      color: #333333;
      margin: 0;
      font-weight: 400;
      font-size: 18px; }
  .card .card-body {
    padding: 16px;
    font-weight: 300; }
  .card .card-footer {
    padding: 16px;
    padding-top: 0; }

.table {
  padding: 0;
  margin: 0;
  font-weight: 500;
  border-radius: 2px; }
  .card .table {
    width: 100%; }
  .table th {
    padding: 21px 23px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    border-bottom: 1px solid gainsboro;
    text-align: left; }
  .table thead tr:hover {
    background-color: transparent; }
  .table tr {
    background-color: white;
    padding: 0 24px; }
    .table tr:not(:last-child) {
      border-bottom: 1px solid gainsboro; }
    .table tr:hover {
      background-color: #EEEEEE; }
    .table tr.selected {
      background-color: #F5F5F5; }
    .table tr:last-child td {
      padding: 19px 23px; }
    .table tr td {
      font-size: 13px;
      padding: 14.5px 23px;
      color: rgba(0, 0, 0, 0.87); }
      .table tr td.text-right {
        text-align: right; }

.page-divider {
  margin: 8px 4px;
  padding: 16px;
  text-transform: uppercase;
  font-size: 14px;
  color: #969696;
  font-weight: 400; }

ul.dropdown {
  margin: 0;
  padding: 4px 0;
  list-style: none;
  border-radius: 2px; }
  ul.dropdown li {
    display: block;
    padding: 14px 0;
    transition: 0.3s background-color cubic-bezier(0.19, 1, 0.22, 1); }
    ul.dropdown li:hover {
      background-color: #f2f2f2; }
    ul.dropdown li a {
      padding: 14px 16px;
      color: #333; }
      ul.dropdown li a:hover {
        text-decoration: none;
        color: inherit;
        cursor: pointer; }

.toolbar + .card, .toolbar + .container {
  margin-top: 82px; }

.toolbar.min + .container {
  margin-top: 62px; }

.window {
  width: 500px;
  height: 400px;
  border: none;
  display: block;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 2px;
  position: absolute;
  z-index: 3;
  transition: 0.3s box-shadow cubic-bezier(0.19, 1, 0.22, 1); }
  .window.unfocused {
    opacity: 0.8 !important; }
  .window.focused {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3); }
    .window.focused .inside-shadow {
      box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17); }
  .window.minimized {
    display: none; }
  .window .inside-shadow {
    height: 100%;
    width: 100%;
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
    .window .inside-shadow .handler {
      width: 100%;
      height: 38px;
      border-bottom: 1px solid #ededed;
      background-color: #f7f7f7;
      border-radius: 2px 2px 0 0;
      cursor: move; }
      .window .inside-shadow .handler .title {
        position: relative;
        top: 8px;
        left: 16px;
        color: #676767;
        font-weight: 400; }
      .window .inside-shadow .handler .btn-group {
        padding: 12px;
        float: right; }
        .window .inside-shadow .handler .btn-group .icon {
          padding: 4px;
          cursor: pointer; }
          .window .inside-shadow .handler .btn-group .icon svg {
            width: 16px;
            height: 16px; }
            .window .inside-shadow .handler .btn-group .icon svg path {
              fill: #7b7b7b; }
    .window .inside-shadow .content {
      height: calc(100% - 38px);
      width: 100%;
      display: block;
      overflow: auto;
      position: relative;
      top: -8px; }
      .window .inside-shadow .content .table {
        width: 100%; }

.input {
  padding: 8px 12px;
  border: none;
  background-color: #f2f2f2;
  margin: 8px 0; }

.ShortcutToolbar {
  padding: 6px 4px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3; }
  .ShortcutToolbar .btn {
    padding: 6px 4px;
    font-size: 0.85em; }

#viewport {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background-color: #fafafa;
  z-index: 10; }
  #viewport.scrollable {
    overflow: auto; }

.list {
  position: relative;
  width: 100%;
  display: none;
  background-color: whitesmoke; }
  .list .post-face-min {
    display: inline-block;
    float: left;
    padding: 0 16px 0 0; }
    .list .post-face-min img {
      width: 33px;
      height: 33px;
      border-radius: 50%; }
  .list .infinity-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
    .list .infinity-list .list-item {
      display: block;
      margin: 0;
      padding: 8px 22px 12px;
      font-size: 15px;
      position: relative; }
      .list .infinity-list .list-item:first-child {
        padding-top: 16px; }
      .list .infinity-list .list-item:last-child {
        padding-bottom: 35px; }
      .list .infinity-list .list-item .top {
        display: block;
        width: 100%;
        font-size: 13.5px;
        font-weight: 400; }
        .list .infinity-list .list-item .top b {
          color: #343434;
          font-size: 14px;
          font-weight: 700;
          display: block;
          padding-bottom: 4px; }
      .list .infinity-list .list-item .bottom {
        display: block;
        width: 100%;
        color: rgba(0, 0, 0, 0.35);
        padding-top: 4px;
        font-size: 12px; }
      .list .infinity-list .list-item .post-details {
        display: inline-block;
        width: calc(100% - 52px); }

.easy-post {
  width: 400px;
  margin: 42px auto 32px !important; }
  .easy-post [contentEditable=true] {
    padding: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #646464;
    min-height: 80px;
    outline: none; }
    .easy-post [contentEditable=true]:empty:not(:focus):before {
      content: attr(data-placeholder);
      color: #828282; }
  .easy-post .btn {
    padding: 6px 16px;
    top: 2px;
    font-size: 110%; }
