@import url(normalize.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

body{font-family: 'Roboto', sans-serif; background-color: rgb(238, 238, 238);}

.no-mg { margin: 0 !important; }

.no-padd { padding: 0 !important; }

.block { width: 100%; }

.Container {
	position: relative;
	padding: 16px;

	&.mgt {
		padding-top: 60px;
	}

	.toolbar {
		top: 16px;
	}

}

.toolbar {
	padding: 10px 16px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	background-color: white;
	position: relative;
	margin-bottom: 28px;
	z-index: 3;

	&.min {
		padding: 6px 8px;

		.btn {
			padding: 0.5em 5px;
			font-size: 10px;
			min-width: 56px;
			border-radius: 1px;
		}
	}

	& > span.dest {
		font-size: 18px;
	}
	
	&.fix-top {
		position: fixed;
		left: 0;
		right: 0;
	}

	&.fix-bottom {
		position: fixed;
		top: auto;
		left: 0;
		right: 0;
		bottom: 0;
		box-shadow: 0 3px 1px rgba(0,0,0,0.3);
	}

	&[noshadow] {
		box-shadow: none;
	}

	.list {
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0;

		.list-item {
			display: inline-block;
		}
	}

}

.btn {
	position: relative;
	overflow: hidden;
	padding: 10px 8px;
	text-transform: uppercase;
	font-size: 0.9em;
	color: rgba(70,70,70,1);
	background-color: transparent;
	border: none;
	border-radius: 2px;
	min-width: 88px;
	margin: 0 4px;
	outline: none;
	font-weight: 500;
	transition: .6s cubic-bezier(0.19, 1, 0.22, 1);
	transition-property: box-shadow, background-color;

	&:not([raised]):not([disabled]) {
		&:hover, &:focus {
			background-color: rgba(153, 153, 153, 0.2);
		}

		&:active {
			background-color: rgba(153, 153, 153, 0.4);
		}
	}

	&[raised] {
		box-shadow: 0 1px 3px rgba(0,0,0,0.35);
		background-color: white;

		&:not([disabled]) {
			&:active {
				box-shadow: 0 8px 12px rgba(0, 0, 0, 0.33);
			}
		}

	}

	&[disabled] {
		color: rgba(0,0,0,0.26);
		background-color: rgba(0,0,0,0.12);
	}

	&.btn-blue {
		background-color: cornflowerblue;
		color: white;
	}

	&.min {
		top: -2px;
		padding: 6px;
		min-width: 63px;
	}
}

/* RIPPLE EFFECT */

.ripple {

	&.active {.waves:first-child {transform: scale(2.5); display: block;}}

	.waves {
		content: '';
		position: absolute;
		border-radius: 100%;
		background: rgba(0, 0, 0, 0.20);
		-webkit-backface-visibility: hidden;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		transform: scale(0);
		z-index: 1;

		&.animate {animation: ripple 0.45s linear;}
		
	}
}

@keyframes ripple {
	100% {transform: scale(2.5); opacity: 0.05}
}

@-webkit-keyframes ripple {
	100% {transform: scale(2.5); opacity: 0.05}
}

.card {
	background-color: white;
	margin: 10px 8px;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);

	&[noshadow] {
		box-shadow: none;
	}

	&.no-padd {
		.card-body {
			padding: 0;
		}
	}

	.card-header {
		padding: 16px 16px 0 16px;

		h4 {
			color: rgba(51,51,51,1);
			margin: 0;
			font : {
				weight: 400;
				size: 18px;
			}
		}

	}

	.card-body {
		padding: 16px;
		font-weight: 300;
	}

	.card-footer {
		padding: 16px;
		padding-top: 0;
	}
}

.table {
	padding: 0;
	margin: 0;
	font-weight: 500;
	border-radius: 2px;

	.card & {
		width: 100%;
	}

	th {
		padding: 21px 23px;
		font-size: 12px;
		color: rgba(0, 0, 0, 0.54);
		border-bottom: 1px solid rgb(220, 220, 220);
		text-align: left;
	}

	thead tr:hover {
		background-color: transparent;
	}

	tr {
		background-color: white;

		padding: 0 24px;

		&:not(:last-child) {
			border-bottom: 1px solid rgba(220,220,220,1);
		}

		&:hover {
			background-color: #EEEEEE;
		}

		&.selected {
			background-color: #F5F5F5;
		}

		&:last-child {
			td {
				padding: 19px 23px;
			}
		}
		
		td {
			font-size: 13px;
			padding: 14.5px 23px;
			color: rgba(0,0,0,0.87);

			&.text-right {
				text-align: right;
			}
		}
	}
}

.page-divider {
	margin: 8px 4px;
	padding: 16px;
	text-transform: uppercase;
	font-size: 14px;
	color: rgb(150, 150, 150);
	font-weight: 400;
}

ul.dropdown {
	margin: 0;
	padding: 4px 0;
	list-style: none;
	border-radius: 2px;

	li {
		display: block;
		padding: 14px 0;
		transition: .3s background-color cubic-bezier(0.19, 1, 0.22, 1);

		&:hover {
			background-color: #f2f2f2;
		}

		a {
			padding: 14px 16px;
			color: #333;

			&:hover {
				text-decoration: none;
				color: inherit;
				cursor: pointer;
			}
		}
		
	}
}

.toolbar + .card , .toolbar + .container {
	margin-top: 82px;
}

.toolbar.min + .container {
	margin-top: 62px;
}

.input {
	padding: 8px 12px;
	border: none;
	background-color: #f2f2f2;
	margin: 8px 0;
}

.ShortcutToolbar {
	padding: 6px 4px;
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
	background-color: rgb(255, 255, 255);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;

	.btn {
		padding: 6px 4px;
		font-size: 0.85em;
	}
}

#viewport {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	background-color: rgba(250,250,250,1);
	z-index: 0;

	&.scrollable {
		overflow: auto;
	}

}


//colors
$color_alto_approx: rgba(220, 220, 220, 1);
$color_wild_sand_approx: rgba(245, 245, 245, 1);
$black_35: rgba(0, 0, 0, 0.35);
$color_tuatara_approx: rgba(52, 52, 52, 1);

.list {
	position: relative;
	width: 100%;
	display: none;
	background-color: $color_wild_sand_approx;
	.post-face-min {
		display: inline-block;
		float: left;
		padding: 0 16px 0 0;
		img {
			width: 33px;
			height: 33px;
			border-radius: 50%;
		}
	}

	.infinity-list {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		.list-item {
			display: block;
			margin: 0;
			padding: 8px 22px 12px;
			font-size: 15px;
			position: relative;

			&:first-child {
				padding-top: 16px;
			}

			&:last-child {
				padding-bottom: 35px;
			}

			.top {
				display: block;
				width: 100%;
				font-size: 13.5px;
				font-weight: 400;
				b {
					color: $color_tuatara_approx;
					font-size: 14px;
					font-weight: 700;
					display: block;
					padding-bottom: 4px;
				}
			}
			.bottom {
				display: block;
				width: 100%;
				color: $black_35;
				padding-top: 4px;
				font-size: 12px;
			}
			.post-details {
				display: inline-block;
				width: calc(100% - 52px);
			}
		}
	}
}

.panel {
	position: absolute !important;
	margin: 0;
	padding: 0;
	z-index: 10;
	border-radius: 3px;

	-webkit-transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: .3s cubic-bezier(0.19, 1, 0.22, 1);

    -webkit-transition-property: box-shadow, transform;
	-moz-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;

	&.shadow {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		&.focused {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		}
	}

	& > .p-container {
		border-radius: 3px;
		position: absolute;
		left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    overflow: hidden;

	    & > .handler {
			background-color: rgb(239, 239, 239);
			width: 100%;
			height: 25px;
			border-radius: 3px 3px 0 0;
			cursor: move;

			&.small {

				.name {
					padding: 3px 8px;
					display: block;
				}
			}
	    }

	    .content {
			overflow-y: auto;
			overflow-x: hidden;
			position: absolute;
			top: 25px;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: rgba(250, 250, 250, 1);

			&.padding {
				padding: 16px;
		    }
	    }
	}
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.13);
}